<template>
    <f7-page>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="center">Bus Route Monitoring</div>
            </div>
        </div>
        <form class="searchbar">
            <div class="searchbar-input">
                <input type="search" placeholder="Search" v-model="search">
            </div>
        </form>
        <f7-block-title>Bus Table</f7-block-title>
        <div class="data-table data-table-init card">
          <div class="card-content">
            <table>
              <thead>
                <tr>
                  <th class="label-cell">Plate Number</th>
                  <th class="label-cell">Bus Number</th>
                  <th class="actions-cell">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(bus, index) in filterBy(buses, search, 'plate_number', 'bus_number')">
                  <td class="label-cell">{{ bus.plate_number }}</td>
                  <td class="label-cell">{{ bus.bus_number }}</td>
                  <td class="actions-cell">
                    <p><a v-on:click.prevent="selectBus(bus)" class="button">Select</a></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </f7-page>
</template>

<script>
  export default {
    data () {
      return {
        url: {
            routeGetAllBuses: 'http://bus-finder-ph.herokuapp.com/api/all/bus',
        },
        search: '',
        buses: [],
        route: {
            selectBus: '/geo/bus/',
        },
      }
    },
    created: function() {
        var that = this;
        axios.get(that.url.routeGetAllBuses).then(function(response){
            that.buses = response.data
        }).catch( function(error) {
            var err = error.response.data;
            that.$f7.alert(err.message, err.error);
        });
    },
    methods: {
        selectBus: function (bus) {
            var that = this;
            var route = that.route.selectBus + bus.plate_number
            f7.mainView.router.load({url: route});
        },
    }
  }
</script>
