<template>
    <f7-page>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="center">Bus Route Monitoring</div>
                <div class="right">
                    <a href="#" style="color: grey;" id="autocomplete-standalone-popup" class="autocomplete-opener link icon-only">
                        <i class="icon f7-icons">navigation</i>
                    </a>
                </div>
            </div>
        </div>
         <gmap-map
            :center="center"
            :zoom="16"
            style="width: 100%; height: 300px;">
            <gmap-marker
                :key="index"
                v-for="(pointer, index) in routes"
                :position="pointer.position"
                :clickable="false"
                :draggable="false"
                :title="pointer.free_text"
                :icon="pointer.icons">
            </gmap-marker>
        </gmap-map>
        <div class="list-block">
        <f7-block-title>Bus Seats</f7-block-title>
        <ul>
          <li class="">
             <label class="item-content label-radio">
                <input v-model="bus.seat" v-on:change="changeBusStatus" name="seat_capacity" value="0" type="radio">
                <div class="item-inner">
                   <div class="item-title">Vacant</div>
                </div>
             </label>
          </li>
          <li class="">
             <label class="item-content label-radio">
                <input v-model="bus.seat" v-on:change="changeBusStatus" name="seat_capacity" value="1" type="radio">
                <div class="item-inner">
                   <div class="item-title">Full</div>
                </div>
             </label>
          </li>
          <li class="">
             <label class="item-content label-radio">
                <input v-model="bus.seat" v-on:change="changeBusStatus" name="seat_capacity" value="2" type="radio">
                <div class="item-inner">
                   <div class="item-title">Standing</div>
                </div>
             </label>
          </li>
        </ul>



        <div class="list-block">
        <f7-block-title>Bus Information</f7-block-title>
        <ul>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Bus No: <b>{{ bus.bus_number }}</b></div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Plate No: <b>{{ bus.plate_number }}</b></div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Distance: <b>{{ bus.distance }}</b></div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Route Stops:
              <ul>
                <li v-for="(stop, index) in bus.route.stops"><b>{{ stop }}</b></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Route Origin: <b>{{ bus.route.start }}</b></div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Route Destination: <b>{{ bus.route.end }}</b></div>
          </div>
        </li>
      </ul>
    </div>





        </div>
    </f7-page>
</template>

<script>
  export default {
    data () {
      return {
        bus: {
            seat: '',
            plate_number: '',
            bus_number: '',
            route: {
                stops: [],
                start: '',
                end: '',
            },
            distance: '',
        },
        routes: [],
        routes_list: [],
        url: {
            routeGetCurrentLocation: 'http://bus-finder-ph.herokuapp.com/api/current/location',
            routeChangeBusStatus: 'http://bus-finder-ph.herokuapp.com/api/update/status',
            routeGetRoutes: 'http://bus-finder-ph.herokuapp.com/api/get/routes',
            routeUpdate: 'http://bus-finder-ph.herokuapp.com/api/update/route',
        },
        center: {lat: 15.0594, lng: 120.6567},
      }
    },
    mounted: function() {
        var that = this;

        axios.get(that.url.routeGetRoutes).then(function(response){
          that.routes_list = response.data
        }).catch( function(error) {
            var err = error.response.data;
            that.$f7.alert(err.message, err.error);
        });

        var autoXcomplete = that.$f7.autocomplete({
            openIn: 'popup',
            preloader: true,
            valueProperty: 'id',
            textProperty: 'route',
            limit: 20,
            searchbarPlaceholderText: 'Route',
            opener: $('#autocomplete-standalone-popup'),
            backOnSelect: true,
            source: function (autocomplete, query, render) {
                var results = [];
                if (query.length === 0) {
                    render(results);
                    return;
                }
                autocomplete.showPreloader();
                for (var i = 0; i < that.routes_list.length; i++) {
                    if (that.routes_list[i].route.toLowerCase().indexOf(query.toLowerCase()) >= 0) {
                        results.push(that.routes_list[i]);
                    }
                }
                autocomplete.hidePreloader();
                render(results);
            },
            onChange: function (autocomplete, value) {
                var data = {
                  plate_number: that.$route.params.plateNumber,
                  route_id: value[0].id,
                }
                axios.post(that.url.routeUpdate, data).then(function(response){
                  that.getCurrentLocation();
                }).catch( function(error) {
                    var err = error.response.data;
                    that.$f7.alert(err.message, err.error);
                });
                $('#autocomplete-standalone-popup').find('input').val(value[0]);
                autoXcomplete.value = [];
            }
        });
        that.getCurrentLocation();
        setInterval(function () {
            that.getCurrentLocation();
        }, 30000);
    },
    methods: {
        changeBusStatus: function () {
            var that = this;
            var data = {
                seat_capacity: that.bus.seat,
                plate_number: that.$route.params.plateNumber,
            }
            axios.post(that.url.routeChangeBusStatus, data).then(function(response){
               that.$f7.alert('Bus Status Changed', 'Success!');
            }).catch( function(error) {
                var err = error.response.data;
                that.$f7.alert(err.message, err.error);
            });
        },
        getCurrentLocation: function () {
            var that = this;
             navigator.geolocation.getCurrentPosition(function(position) {
                var data = {
                    plate_number: that.$route.params.plateNumber,
                    lat: position.coords.latitude,
                    lng: position.coords.longitude,
                }
                axios.post(that.url.routeGetCurrentLocation, data).then(function(response){
                    var result = response.data
                    that.bus = result.bus;
                    that.routes = result.marks;
                    var route_bus = _.find(that.routes, function(o) {
                      return o.type === 'bus';
                    })
                    that.center = route_bus.position
                }).catch( function(error) {
                    var err = error.response.data;
                    that.$f7.alert(err.message, err.error);
                });
             });
        },
    }
  }
</script>
