<template>
    <div id="app">
        <f7-statusbar></f7-statusbar>
        <f7-views>
            <f7-view id="main-view" navbar-through :dynamic-navbar="true" main url="/geo">
                <f7-pages>
                </f7-pages>
            </f7-view>
        </f7-views>
    </div>
</template>
